<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/messengerStyles.css}"
              rel="stylesheet" type="text/css" media="screen"/>

    <title>Grand language Exchange</title>
  </head>
<body>
    <div class="body-wrapper">
        <div class="logo">
          <img th:src="@{/images/banner.png}" th:id="bannerImage">
        </div>

        <div id = "app">
            <!--/*@thymesVar id="text" type=""*/-->
                    <span id="googleID" th:text="${googleID}"></span>
            </div>

        <div class="topnav">
            <a class="active" href="/messenger">Messenger</a>
            <a  href="/search">Search</a>
            <a  href="/profile">My Profile</a>
            <a class="logout" href="/client/logout">Log Out</a>
        </div>
        <br>
        <div class="mainback">
        <br>
        <div class="contain">
<h3 class=" text-center">Messenger</h3>
<br>
  <div class="masthead">
    <div class="wrap push">

      <a href="#menu" id="nav-toggle" class="menu-link"><span></span></a>

      <h1 id = "faketinderInner">FAKE TINDER</h1>

      <div class="wrapper">
        <div class="container">
          <div class="glass">
            <div class="left">
              <div class="left-header">
                <div class="search">
                  <input type="text" placeholder="Search ...">
                </div>
              </div>
              <div class="left-body">
              </div>
            </div>
            <div class="right">
              <div class="right-header">
                <div class="name-wrp">
                  <div class="name">Dialog</div>
                  <div class="action"></div>
                </div>
                <div class="note"></div>
                <div class="action"></div>
              </div>
              <div class="right-body">
                <ul class="message-ul">
                </ul>
              </div>
              <div class="right-footer">
                <div class="r-f-input-wrp">
                  <div class="input-wrp">
                    <input type="text" placeholder="Type Message ...">
                    <div class="send"><span class="fa fa-send" style="padding-right: 5px; right: -50px; color: #3E1103;font-size: 24px;"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="func-ul">
          <li>Something</li>
          <li>next</li>
          <li>moreNext</li>
        </ul>
      </div>

    </div> <!-- /.wrap -->
  </div> <!-- /.masthead-->

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>