<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>Grand language Exchange - Profile</title>
</head>
<body>
<div class="body-wrapper">
    <div class="logo">
        <img th:src="@{/images/banner.png}" th:id="bannerImage" alt="Banner image"/>
    </div>

    <div class="topnav">
        <a href="/messenger">Messenger</a>
        <a href="/search">Search</a>
        <a class="active" href="/profile">My Profile</a>
        <a class="logout" href="/client/logout">Log Out</a>
    </div>
    <br>
    <div class="mainback">
        <div class="row">
            <div class="col-sm-6">

                <image id="profileImage" src="http://www.athensparent.com/images/medium300x250.gif"/>
                <!--<input type="file" id="imageUpload" name="avatar" accept="image/png, image/jpeg">-->
            </div>
            <div class="col-sm-6">
                <div id="pData">
                    <p>Name: {{messages.firstName}} {{messages.lastName}}</p>
                    <p>Age: {{messages.age}}</p>
                    <p>C Level languages: {{messages.cLvlLangs}}</p>
                    <p>B Level languages: {{messages.bLvlLangs}}</p>
                    <p>A Level languages: {{messages.aLvlLangs}}</p>
                    <p>Hobbies: {{messages.hobbies}}</p>
                    <p>Biography: {{messages.bioGraphy}}</p>
                    <br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                        Change personal data
                    </button>
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-body" style="top:135px;">
                            <div class="modal-dialog modal-login">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">Update profile</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <form method="post" action="/profile" id="updateProfile">
                                            <h6>Your new name</h6>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="firstName"
                                                       id="firstName" v-bind:value="messages.firstName"
                                                       autocomplete="off" maxlength="254" required>
                                            </div>
                                            <h6>Your new lastname</h6>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="lastName"
                                                       id="lastName" v-bind:value="messages.lastName"
                                                       autocomplete="off" maxlength="254" required>
                                            </div>
                                            <h6>Your new age</h6>
                                            <div class="form-group">
                                                <input type="number" class="form-control" name="age" id="age"
                                                       v-bind:value="messages.age" autocomplete="off" maxlength="254"
                                                       required>
                                            </div>
                                            <h6>Your new C level language(s)</h6>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="cLvlLangs"
                                                       id="cLvlLangs" v-bind:value="messages.cLvlLangs"
                                                       autocomplete="off" maxlength="254" required>
                                            </div>
                                            <h6>Your new B level language(s)</h6>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="bLvlLangs"
                                                       id="bLvlLangs" v-bind:value="messages.bLvlLangs"
                                                       autocomplete="off" maxlength="254" required>
                                            </div>
                                            <h6>Your new A level language(s)</h6>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="aLvlLangs"
                                                       id="aLvlLangs" v-bind:value="messages.aLvlLangs"
                                                       autocomplete="off" maxlength="254" required>
                                            </div>
                                            <h6>Your new Hobbies</h6>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="hobbies"
                                                       id="hobbies" v-bind:value="messages.hobbies"
                                                       autocomplete="off" maxlength="254" required>
                                            </div>
                                            <h6>Your new Biography</h6>
                                            <div class="form-group">
                                            <textarea name="bioGraphy" cols="40" rows="5"
                                                      style="resize: none" class="form-control"
                                                      id="bioGraphy" v-bind:value="messages.bioGraphy"
                                                      autocomplete="off" maxlength="254"
                                                      required></textarea>

                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-primary btn-lg btn-block login-btn"
                                                       type="submit" value="Update profile">
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div id="col-75">
                     <form method = post>
                    <input id="name" type="text" name="fname" value="" placeholder="Sinu uus nimi" style="color: black"></input>
                    <br><br>
                    <input id="Age" type="text" name="age" value="" placeholder="Sinu uus vanus" style="color: black"></input>
                    <br><br>
                    <input id="language" type="text" name="lang" value="" placeholder="Sinu uus keel" style="color: black"></input>
                    <br><br>
                    <input id="lLanguage" type="text" name="llang" value="" placeholder="Sinu uus opitav keel" style="color: black"></input>
                    <br><br>
                    <input id="intrest" type="text" name="intrests" value=""placeholder="Sinu uus huvi" style="color: black"></input><br><br>
                    <input class="submitbutton" type="submit" value="Salvesta uued andmed">
                    </form>
                </div>-->
            </div>
        </div>

        <div id="reqData">

            <div class="row fb" v-for="user in users">
                <div class="fb-top">
                    <p><b>Friend Requests</b></p>
                    </div>
                <img src="https://scienceandsociety.duke.edu/wordpress/wp-content/uploads/profile-list-ben-100x100.jpg"
                     height="100" width="100" alt="Image of man">
                <p class="info">
                    <span>{{ user.firstName }}</span>
                    <span>{{ user.lastName }}</span>
                </p>
                <div class="button-block">
                    <div class="confirm">Confirm</div>
                    <div class="delete">View Profile</div>
                    <div class="delete">Delete Request</div>
                    </div>

            </div>

        </div>
    </div>


    <!--
    <div class="row">
        <div class="col">
            <div id="fb">
                <div id="fb-top">
                    <p><b>Friend Requests</b></p>
                </div>
                <img src="https://scienceandsociety.duke.edu/wordpress/wp-content/uploads/profile-list-ben-100x100.jpg"
                     height="100" width="100" alt="Image of man">
                <p id="info"><b>Rainer Murumaa</b></p>
                <div id="button-block">
                    <div id="confirm">Confirm</div>
                    <div id="delete">Delete Request</div>
                </div>
            </div>
            <br>
            <div id="fb">
                <div id="fb-top">
                    <p><b>Friend Requests</b></p>
                </div>
                <img src="https://scienceandsociety.duke.edu/wordpress/wp-content/uploads/profile-list-ben-100x100.jpg"
                     height="100" width="100" alt="Image of man">
                <p id="info"><b>Andres Kivil</b></p>
                <div id="button-block">
                    <div id="confirm">Confirm</div>
                    <div id="delete">Delete Request</div>
                </div>
            </div>
        </div>

    </div>-->
<script>
    var googleID = "[[${googleID}]]";
</script>
<script src="/js/profile.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
</body>
</html>