<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>LangEx - User</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div>

    <h1>Principal ID: </h1>
    <!--/*@thymesVar id="text" type=""*/-->
    <span th:text="${userId}"></span>

</div>
<a href="profile">My profile</a>

<form action="newUser">

    <label for="firstName">First name:</label>
    <input name="firstName" id="firstName" placeholder="Karl" autocomplete="off">
    <br>
    <label for="lastName">Last name:</label>
    <input name="lastName" id="lastName" placeholder="Matti" autocomplete="off">
    <br>
    <label for="cLvlLangs">C Level Languages:</label>
    <input name="cLvlLangs" id="cLvlLangs" placeholder="Estonian;English" autocomplete="off">
    <br>
    <label for="bLvlLangs">B Level Languages:</label>
    <input name="bLvlLangs" id="bLvlLangs" placeholder="Finnish" autocomplete="off">
    <br>
    <label for="aLvlLangs">A Level Languages:</label>
    <input name="aLvlLangs" id="aLvlLangs" placeholder="Russian" autocomplete="off">
    <br>
    <label for="hobbies">Hobbies:</label>
    <input name="hobbies" id="hobbies" placeholder="Fishing;Programming" autocomplete="off">
    <br>
    <label>insert photo coming soon...</label>
    <br>
    <button type="submit">Create profile</button>

</form>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
</body>
</html>